.message-thread {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-thread-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px; /* Add margin to ensure space for MessageForm */
}

.message-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.my-message {
  align-self: flex-end;
  background-color: #007BFF;
  color: white;
  border-bottom-right-radius: 0;
}

.other-message {
  align-self: flex-start;
  background-color: #f1f1f1;
  color: black;
  border-bottom-left-radius: 0;
}
