/* src/styles/MessageList.css */

.message-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 10px;
  }
  
  .message {
    display: flex;
    gap: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .message-content {
    flex-grow: 1;
  }
  
  .message-content strong {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #333;
  }
  
  .message-content p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
  }
  