html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%; /* Ensure the App component takes full height */
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  flex: 0 0 auto; /* Ensure the header does not grow */
  min-height: 60px; /* Set a minimum height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  flex: 0 0 auto; /* Ensure the footer does not grow */
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.App-content {
  flex: 1 1 auto; /* Ensure content takes the remaining space */
  overflow-y: auto; /* Enable scrolling if content overflows */
  padding: 20px;
}

.App-footer {
  flex: 0 0 auto;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

